<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Logros - Tablitas Champions</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/logros.js"></script>
</head>
<body class="fondo-juego">
  <h1 class="titulo-inicio">🎖️ Tus Logros</h1>

  <!-- Contenedor vacío: el JS se encarga de llenarlo -->
  <div class="logros-container"></div>

  <a href="{{ url_for('menu') }}" class="btn btn-naranja">🏠 Volver al Menú</a>
>

  <audio id="sonido-logro" src="/static/assets/sounds/logro.mp3" preload="auto"></audio>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>


</body>
</html>
<footer class="footer-derechos">
  <p>© 2025 <strong>BM Studios</strong>. Todos los derechos reservados.<br>
  Creado por <strong>Brian Molina</strong>.</p>
</footer>